@import '../../../styles/variables.scss';

html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  padding: map-get($sizes, minimal-padding);
}
  
body {
  margin: 0;
  padding: 0 1.5rem;
}
  
svg {
  display: inline-block;
  vertical-align: middle;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .btnWrapper button {
      font-weight: 600;
      margin-right: 15px;
      padding: 15px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border-radius: 20px;

      &:hover {
        background-color: lightgray;
      }
  }
}

.btnWrapper {
  &__companies {
    background-color: lightslategray;
  }

  &__company1 {
    background-color: red;
  }

  &__company2 {
    background-color: blue;
  }

  &__company3 {
    background-color: green;
  }
}



.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}